export MNEMONIC="YOUR MNEMONIC HERE"
export RPC_URL=https://rpc.ankr.com/polygon_mumbai
# You need to go here for registering an api key for Mumbai --> https://polygonscan.com/login
export ETHERSCAN_API_KEY=<YOUR API KEY>